<h1 class="p-0 mt-5 text-center">All Customers</h1>

<div class="row">
  <div class="d-flex flex-wrap p-0" style="list-style: none;">
    <% @customers.each do |customer| %>
      <%= render partial: "shared/customer", locals: {customer: customer} %>
    <% end %>
  </div>    
</div>